.c_button {
  align-items     : center;
  background-color: var(--opposite-contrast);
  border          : none;
  color           : var(--max-contrast);
  cursor          : pointer;
  display         : flex;
  font-size       : var(--small-text-size);
  justify-content: center;
  line-height     : 1;
  min-width       : 0;
  padding         : 0.3em;
}
.c_button:hover:not(:disabled) {
  background-color: var(--clickable-bg-hover);
  outline         : 1px dotted var(--light-glare);
}

.c_button:disabled {
  opacity: 0.5;
  cursor: auto;
  filter: saturate(0);
}

.c_button .icon-img {
  font-size: 1.5em;
  margin   : 0.133em;
  flex-shrink: 0;
}

.c_button .label {
  margin       : 0.3em;
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
  min-width    : 1.3em;
}