.checkbox {
  background-color: var(--opposite-contrast);
  padding: 0.2em 0.3em;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox input {
  display: none;
}

.checkbox .copy-wrapper {
  margin: 0.2em 0.3em;
}

.checkbox:hover:not(:disabled) {
  background-color: var(--clickable-bg-hover);
  outline: 1px dotted var(--light-glare);  
}

.checkbox .icon-wrapper {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 1.5em;
  margin: 0.133em 0.2em;
  flex-shrink: 0;
  justify-content: center;
  color: var(--checkbox-border-color);
}
.checkbox .icon-wrapper svg{
  display: none;
}
.checkbox .icon-wrapper .checkbox-unchecked-svg{
  display: initial;
}

.checkbox :checked ~ .icon-wrapper .checkbox-unchecked-svg{
  display: none;
}

.checkbox :checked ~ .icon-wrapper{
  color: var(--max-contrast);
}

.checkbox :checked ~ .icon-wrapper .checkbox-checked-svg{
  display: initial;
}

.checkbox :indeterminate ~ .icon-wrapper {
  color: var(--grey-highlight);
}

.checkbox :indeterminate ~ .icon-wrapper .checkbox-indetermined-svg {
  display: initial;
}

.checkbox :indeterminate ~ .icon-wrapper .checkbox-unchecked-svg,
.checkbox :indeterminate ~ .icon-wrapper .checkbox-checked-svg{
  display: none;
}