.dropdown {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1px;
  display: flex;
  position: relative;
  color: var(--max-contrast);
}


.dropdown .label{
  padding: 0.2em 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}

.dropdown .label-wrapper {
  background-color: var(--opposite-contrast);
  align-items: center;
  display: flex;
  min-width: 2.4em;    
}

.dropdown .button{
  margin-left: 1px;
  padding: 2px;
}

.dropdown .button .icon-img {
  margin: 2px;
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.23, 1.65);
  transform-origin: 50%;
}

.dropdown.expanded .button .icon-img {
  transform: rotateZ(-90deg);
}

.dropdown .dropdown-content-wrapper {
  background-color: var(--opposite-contrast);
  position: absolute;
  right: 0;
  top: calc(100% + 2px);
  display: none;
  opacity: 0;
  --anim-duration: 0.2s;
  transform-origin: right bottom;
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.dropdown.contracted .dropdown-content-wrapper {  
  display: block;
  animation: var(--anim-duration) dropdown-contract 0s 1 normal forwards;
}
.dropdown.expanded .dropdown-content-wrapper {  
  display: block;
  animation: var(--anim-duration) dropdown-expand 0.001s 1 normal forwards;
}
.dropdown.direction-up .dropdown-content-wrapper {
  top: auto;
  bottom: calc(100% + 2px);
}

 /* animation */
@keyframes dropdown-expand {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dropdown-contract {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}