.combo-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1px;
  display: flex;
}
.combo-wrapper .button{
  margin-left: 1px;
  padding: 2px;
}

.combo-wrapper .button .icon-img {
  margin: 2px;
  transition: transform 0.3s;
  transform-origin: 50%;
}

.combo-wrapper .button.show .icon-img {
  transform: rotateZ(180deg);
}