.element-highlighter {
  display: none;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: relative;
  z-index: 5;
}

.element-highlighter.show {
  display: block;
}

.element-highlighter * {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: transform 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background-color: #000;
}