.filters-options{
  padding   : 10px 14px;
  box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.7) inset;
  color     : var(--grey-highlight);
}
.filters-options ul {
  margin    : 0;
  padding   : 0;
  list-style: none;
}

.filters-options ul ul {
  padding-left: 24px;
}

.filters-options .options label {
  align-items     : flex-start;
  background-color: transparent;
  cursor          : pointer;
  display         : flex;
  line-height     : 1.3;
  padding         : 0.7em 5px;
  width           : 100%;
}

.filters-options .options li.disabled {
  opacity: 0.3;
}
.filters-options .options li.disabled label {
  cursor: default;
}

.filters-options .options .app {
  color: var(--area-color-app);
}

.filters-options .options .core,
.filters-options .options .all-v8 {
  color: var(--area-color-core);
}

.filters-options .options .deps {
  color: var(--area-color-deps);
}
