#filters-container{
   background-color: var(--banner-bg-color);
   padding: 8px;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

#filters-container .options-menu-toggle {
  min-width: 130px;
}

#filters-container .col-wrapper {
  display: flex;
}