section#flame-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
}
#flame-main canvas {
  display: block;
  position: relative;
}

#flame-main .scroll-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

chart {
  display: block;
}
chart > div {
  height: 100%;
}
#flame-main .flamegraph-outer {
  border-top: 1px solid var(--light-glare);
}

/* node-highlighter */
.highlighter-box {
  display: none;
  top: 0px;
  left: 0px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  pointer-events: none;
  position: absolute;
}
.highlighter-box.show{
  display: block;
}

#flame-main canvas.flame-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.zoom-underline {
  position: absolute;
  pointer-events: none;
  border-top: 3px solid var(--main-bg-color);
  background: linear-gradient(to bottom, rgba(var(--grey-highlight-color-val), 0.3), rgba(var(--grey-highlight-color-val), 0));
}

.fg-tooltip-actions {
  display: flex;
  background-color: rgba(var(--opposite-color-val), 0.8);
  border: 1px solid var(--primary-grey);
  color: white;
  font-size: var(--normal-text-size);
}

.fg-tooltip-actions button {
  background-color: transparent;
  align-items: center;
  border-radius: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-basis: 50%;
  font-size: inherit;
  justify-content: center;
  line-height: 1.2em;
  padding: 2px;
  outline: none;
}

.fg-tooltip-actions .label {
  white-space: nowrap;
}

.fg-tooltip-actions button:hover {
  background-color: var(--clickable-bg-hover);
  outline: 1px solid var(--max-contrast);
}

.fg-tooltip-actions .zoom-button svg {
  display: none;
}

.fg-tooltip-actions .zoom-button.zoom-in .zoom-in-svg {
  display: initial;
}

.fg-tooltip-actions .zoom-button.zoom-out .zoom-out-svg {
  display: initial;
}

.fg-tooltip-actions span {
  padding: 0 0.15em;
}

.fg-tooltip-actions .icon {
  display: flex;
  align-items: center;
}

/* presentation-mode */

.presentation-mode {
  border-left-width: 2px;
}

.presentation-mode .selection-box {
  background-color: rgba(var(--grey-highlight-color-val), 0.2);
  box-shadow: 0 1px 4px rgba(var(--grey-highlight-color-val), 0.3);
}

.presentation-mode .highlighter-box {
  border-width: 2px;
}