#info-box {
  position: relative;
}

#info-box .frame-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: var(--normal-text-size);
  margin: 0;
  padding: 4px 8px;
  font-family: monospace, monospace;
  font-size: var(--normal-text-size);
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(var(--opposite-color-val), 0.5);
  color: var(--grey-highlight);
}


#info-box .frame-info-item {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#info-box .frame-function {
  color: var(--max-contrast);
  word-break: break-word;
}

#info-box .frame-area {
  color: var(--area-color-core);
}

#info-box .frame-line-col {
  color: var(--primary-grey);
}

.visible-md {
  display: none;
}

@media (min-width: 680px) {
  #info-box .frame-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
  }

  #info-box .frame-info-item {
    line-height: 1;
    white-space: pre-wrap;
  }

  #info-box .frame-function {
    min-width: 20%;
  }

  #info-box .frame-path {
    flex-grow: 1;
    max-width: 60%;
  }

  #info-box .frame-area {
    flex-grow: 1;
    min-width: 20%;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .visible-md {
    display: initial;
  }

  #info-box .frame-info-item {
    overflow: initial;
    text-overflow: initial;
  }
}

/* presentation mode */
.presentation-mode #info-box .frame-info {
  background-color: var(--opposite-contrast);
}

.presentation-mode #info-box .frame-dropdown {
  border-left: solid var(--banner-bg-color) 1px;
}
