#info-box {
  position: relative;
}

#info-box .frame-info {
  background-color: rgba(var(--opposite-color-val), 0.5);
  color: var(--grey-highlight);
  display: flex;
  flex-grow: 1;
  font-size: var(--normal-text-size);
  height: 2.9em;
  margin: 0;
  overflow: hidden;
  padding: 2px 4px;
  white-space: pre-wrap;
}

#info-box .frame-info:hover {
  height: auto;
  min-height: 2.9em;
}


#info-box .frame-info strong {
  color: var(--max-contrast);
  word-break: break-word;
}

#info-box span.frame-info-item {
  flex-grow: 1;
}

#info-box .frame-info .frame-area {
  color: var(--area-color-core);
  word-break: break-word;
  text-align: right;
}

#info-box .frame-info-item {
  padding: 0 4px;
}

#info-box .frame-info .frame-path {
  overflow: hidden;
  word-break: break-word;
  flex-shrink: 0;
}

/* Share space, with the file path always starting in a consistent position, */
/* unless function name is unusually long, in which case it shrinks to fit */
#info-box .frame-function {
  flex-grow: 0;
}

#info-box .frame-path,
#info-box .frame-area {
  flex-grow: 1;
}

#info-box .frame-function,
#info-box .frame-area {
  min-width: 16.67%;
}

#info-box .frame-path {
  max-width: 66.67%;
}

#info-box .frame-line-col {
  color: var(--primary-grey);
}

#info-box .frame-line-col span {
  display: none;
}

@media (min-width: 992px) {
  #info-box .frame-info {
    align-items: center;
  }

  #info-box .frame-line-col span {
    display: inline-block;
  }
}

/* presentation mode */
.presentation-mode #info-box .frame-info {
  background-color: var(--opposite-contrast);
}
