#message-component {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  z-index: 99;
}

#message-component .message-text {
  background-color: rgb(255, 170, 43);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  color: '#fff';
  padding: 5px;
  border-radius: 3px;
  margin: 1px 0px;
  font-size: var(--small-text-size);
  text-align: center;
  color: rgb(51, 51, 51);
}

#message-component pre {
  color: rgb(51, 51, 51);
  font-style: italic;
  margin: 1em 1em 0.5em;
  word-break: break-word;
  white-space: normal
}
