#options-menu .options {
  right: 0;
  padding: 8px 0;
  width: 100%;
  font-size: var(--small-text-size);
  position: absolute;
  z-index: 1;
  background-color: var(--options-menu-bg-color);
  margin-top: 6px;
}

#options-menu .options .children-toggle-btn{
  border: none;
  padding: 0.2em 0.5em;
  margin: 0.5em 0 0;
  background-color: transparent;
  color: inherit;
  font-size: 1em;
  cursor: pointer;
  align-self: flex-end;
  outline: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#options-menu .options .children-toggle-btn svg{
  font-size: 1.6em;
}

#options-menu .options .children-toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

#options-menu .options .section {
  border: none;
  padding: 0;
  margin: 0 0 10px 0;
  position: relative; /* forces this to show on _top_ of the .options element, else it's not clickable */
}

#options-menu .options .section:last-child {
  margin-bottom: 4px;
}

#options-menu .options .section h2 {
  width: 100%;
  font-weight: bold;
  font-size: var(--small-text-size);
  color: white;
  border-bottom: 3px solid var(--main-bg-color);
  padding: 2px 8px 6px 8px;
  margin: 0;
  margin-bottom: 8px;
}

#options-menu .options ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  color: var(--grey-highlight);
}

#options-menu .options ul ul {
  padding: 0;
  margin-left: 10px;
  color: inherit;
}

#options-menu .options li {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

#options-menu .options .childrenVisibilityToggle li {
  display: none;
}
#options-menu .options .childrenVisibilityToggle.show-more li,
#options-menu .options .childrenVisibilityToggle li.visible {
  display: initial;
}

#options-menu .show-more .children-toggle-btn svg {
  transform: rotateZ(180deg);
  transform-origin: 50%;
}

#options-menu .options .overflow-wrapper {
  height: 2.8em;
  position: relative;
}

#options-menu .options label:hover {
  white-space: normal;
  /* background of options area mixed with:
   *   rgba(255, 255, 255, 0.06)
   * included as a constant value so this colour
   * obscures the lower items that it overflows on hover. */
  background-color: rgb(53, 55, 65);
  height: auto;
  z-index: 3;
}

#options-menu .options label {
  position: absolute;
  width: 100%;
  opacity: 0.8;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  height: 100%;
  min-height: 100%;
  line-height: 1.3;
  padding: 0.7em 5px;
}

#options-menu .options li.disabled {
  opacity: 0.3;
}
#options-menu .options li.disabled label {
  cursor: default;
}

#options-menu .options .copy-wrapper{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

#options-menu .options .name {
  font-weight: bold;
}


#options-menu .options .description {
  color: var(--primary-grey);
  font-weight: normal;
}

#options-menu .options .description .more-info{
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

#options-menu .options .description .more-info:hover{
  opacity: 1;
}

#options-menu .options input {
  margin: 0 8px 0 0;
  vertical-align: middle;
  display: none;
}

#options-menu .options .icon-wrapper {
  align-items: center;
  border-radius: 3px;
  display: flex;
  font-size: 1.4em;
  margin-right: 0.5em;
  flex-shrink: 0;
  justify-content: center;
  color: var(--checkbox-border-color);
}
#options-menu .options .icon-wrapper svg{
  display: none;
}
#options-menu .options .icon-wrapper .unchecked{
  display: initial;
}

#options-menu .options :checked ~ .icon-wrapper .unchecked{
  display: none;
}

#options-menu .options :checked ~ .icon-wrapper{
  color: var(--max-contrast);
}

#options-menu .options :checked ~ .icon-wrapper .checked{
  display: initial;
}

#options-menu .options :indeterminate ~ .icon-wrapper {
  color: var(--grey-highlight);
}

#options-menu .options :indeterminate ~ .icon-wrapper .indetermined {
  display: initial;
}

#options-menu .options :indeterminate ~ .icon-wrapper .unchecked,
#options-menu .options :indeterminate ~ .icon-wrapper .checked{
  display: none;
}

#options-menu .options li[data-area="app"] {
  color: var(--area-color-app);
}

#options-menu .options li[data-area="all-core"] {
  color: var(--area-color-core);
}

#options-menu .options li[data-area="deps"] {
  color: var(--area-color-deps);
}

#options-menu .options-menu-toggle {
  align-items: center;
  background: #000;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: var(--small-text-size);  
  font-weight: bold;
  padding: 2px 6px;
  width: 100%;
  height: 100%;
  outline: none;
  position: relative;
}

#options-menu .options-menu-toggle .chevron {
  position: absolute;
  right: 5px;
  font-size: 2em;
  color: white;
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.23, 1.65);
  transform-origin: 50%;
  transform: rotateZ(0deg)
}

#options-menu.collapsed .options-menu-toggle .chevron {
  transform: rotateZ(180deg)
}
