.search-box input {
  background  : black;
  border      : none;
  color       : white;
  font-family : inherit;
  font-size   : var(--small-text-size);
  height      : 100%;
  margin      : 0px;
  padding     : 4px 8px;
  width       : 100%;
}
