#selection-controls {
  display: flex;
}

#selection-controls .hotness-selector:disabled {
  color: var(--primary-grey);
  cursor: auto;
  background: rgba(var(--opposite-color-val), 0.5);
}

#selection-controls .hotness-selector {
  padding: 4px 8px;
  margin-right: 4px;
  background-color: var(--opposite-contrast);
  color: var(--max-contrast);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1;
}
#selection-controls button.hotness-selector:hover:not(:disabled) {
  background-color: var(--clickable-bg-hover);
  outline: 1px dotted var(--light-glare);  
}

#selection-controls .rank-wrapper {
  margin: 0px 8px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

#selection-controls input.hotness-selector {
  width: 3.3em;
  padding: 0;
  text-align: center;
  height: 100%;
}

#selection-controls svg{
  font-size: 1.5em;
}
#selection-controls .next-btn span{
  margin-right: .5em;
}

#selection-controls .hotness-selector,
#selection-controls label {
  font-size: var(--small-text-size);
}

#selection-controls label {
  color: var(--grey-highlight);
}

.visible-from-bp-1,
.visible-from-bp-2{
  display: none;
}

#selection-controls .occurrences-count{
  display: flex;
  align-items: center;
  color: var(--max-contrast);
  font-size: var(--small-text-size);
  background-color: var(--opposite-contrast);
  cursor: pointer;
  border: none;
  outline: none;
}

#selection-controls .occurrences-count .count{
  display: inline-block;
  margin-right: 0.3em;
}

#selection-controls .occurrences-count svg{
  opacity: 0.6;
  font-size: 1em;
  margin-right: 0.3em;
}

#selection-controls .occurrences-count.on svg{
  color: var(--occurrences-border);
  opacity: 0.8;
}
#selection-controls .occurrences-count .perc{
  font-size: calc(var(--small-text-size) * 0.8);
  opacity: 0.6;
  align-self: flex-start;
}

@media screen and (min-width: 530px) {
  .visible-from-bp-1 {
    display: initial;
  }
}

@media screen and (min-width: 680px) {
  .visible-from-bp-2 {
    display: initial;
  }
}

/* presentation mode */
.presentation-mode #selection-controls {
  background-color: transparent;
  padding: 0px;
}