html {
  /* Define colors */

  --main-bg-color-val: 27, 30, 39;
  --max-contrast: rgb(255, 255, 255);
  --opposite-contrast: rgb(0, 0, 0);
  --light-glare: rgba(255, 255, 255, 0.1);

  --main-bg-color: rgb(var(--main-bg-color-val));
  --main-bg-translucent: rgba(var(--main-bg-color-val), 0.94);
  --overlay-bg-color: rgba(67, 70, 81, 0.94);

  --banner-bg-color: rgba(255, 255, 255, 0.1);
  --banner-logo-color: rgba(255, 255, 255, 0.87);

  --footer-bg-color: rgba(255, 255, 255, 0.1);
  --footer-color: rgba(255, 255, 255, 0.9);

  --primary-grey: rgb(121, 122, 124);
  --grey-highlight: rgb(191, 192, 194);

  /* scrollbars */
  --scrollbar-primary-color-val: 145, 169, 179;
  --scrollbar-primary-color: rgb(var(--scrollbar-primary-color-val));
  --scrollbar-bg: var(--light-glare);
  --scrollbar-shadow: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb: rgba(var(--scrollbar-primary-color-val), 0.2);
  --scrollbar-thumb-outline: rgba(var(--scrollbar-primary-color-val), 0.849);

  /* Define structurally-important sizes to use in calculations and/or adjust in media queries */
  --banner-height: 65px;
  --footer-height: 25px;

  /* Define text sizes */
  --main-text-size: 10pt;
  --small-text-size: 8.5pt;
}

/* Overrides for light theme */
/* just a poc for now... */
html.light {
  --main-bg-color-val: 197, 224, 239;

  --max-contrast: rgb(0, 0, 0);
  --opposite-contrast: rgb(255, 255, 255);

  --banner-bg-color: rgb(0, 0, 0, 0.1);
  --footer-bg-color: rgb(0, 0, 0, 0.1);
  --footer-color: rgba(0, 0, 0, 0.9);
}

/* Main layout */

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background: var(--main-bg-color);
}

/* Global */

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Banner layout */

#banner {
  display: flex;
  align-items: center;
  height: var(--banner-height);
  background: var(--banner-bg-color);
  position: relative;
}

#banner #main-logo svg {
  fill: var(--banner-logo-color);
  margin-left: 12px;
  stroke: var(--shortcut-stroke);
  stroke-width: 4px;
  paint-order: stroke fill;
  /* PLACEHOLDER - delete when we have proper logo */
  height: 50px;
  width: 50px;
}

#banner #main-logo svg,
#banner #main-logo span {
  display: inline-block;
  vertical-align: middle;
}

#banner #main-logo,
#banner #main-logo:link,
#banner #main-logo:visited {
  color: var(--banner-logo-color);
  font-weight: bold;
  font-size: 23px;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 3px; /* temporary - just to align placeholder text */
}

#banner #company-logo svg {
  position: absolute;
  height: 65px;
  right: 0;
  top: 0;
}

#header {
  display: flex;
  flex-direction: column;
}

/* Arrows - size and color applied in context */

.vertical-arrow {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Toolbar */

#toolbar {
  background-color: var(--overlay-bg-color);
  margin: 14px 0; /* Gutter for up and down arrows */
  position: relative;
  flex-grow: 1;
  padding: 8px;
  display: flex;
  flex-direction: row-reverse;
}

#toolbar .vertical-arrow {
  border-width: 10px;
  left: 10px; /* default, overridden in JS */
}


#toolbar .vertical-arrow.down-arrow {
  border-top-color: var(--overlay-bg-color);
  bottom: -20px;
}

#toolbar .vertical-arrow.up-arrow {
  border-bottom-color: var(--overlay-bg-color);
  top: -20px;
}

#toolbar .panel {
  padding: 8px;
}

#toolbar .toolbar-section {
  margin: 0;
}

#toolbar-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#toolbar-main .selection-controls {
  padding-bottom: 8px;
}

#toolbar-main .hotness-selector {
  height: 24px;
  padding: 0px 8px;
  margin: 0px 2px;
  background-color: var(--opposite-contrast);
  color: var(--max-contrast);
  border: none;
  cursor: pointer;
}

#toolbar-main .rank-wrapper {
  margin: 0px 8px;
}

#toolbar-main input.hotness-selector {
  width: 36px;
  text-align: right;
  padding-left: 0;
}

#toolbar-main .hotness-selector,
#toolbar-main label {
  font-size: var(--small-text-size);
}

#toolbar-main label {
  color: var(--grey-highlight);
}

#toolbar-main .frame-info {
  background-color: var(--main-bg-color); /* matches banner color using :before */
  padding: 4px;
  margin: 0;
  color: var(--grey-highlight);
  position: relative;
}

#toolbar-main .frame-info strong {
  color: var(--max-contrast);
}

#toolbar-main .frame-info-item {
  margin: 0 8px;
}

#toolbar #toolbar-side-panel {
  padding: 8px;
  flex-grow: 0;
  min-width: 250px;
  margin-left: 8px;
  background-color: var(--main-bg-color);
  position: relative;
}

#toolbar-side-panel .key-panel {
  background-color: var(--main-bg-color);
  position: relative;
}

#toolbar .frame-info:before,
#toolbar #toolbar-side-panel:before {
  /* Apply translucent background to element that resets solid background color */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--banner-bg-color);
}

/* Flamegraph */

#flame-main .flamegraph-outer {
  position: relative;
  height: 100%;
  display: block;
}

#flame-main canvas {
  display: block;
  margin: 0 auto;
}

chart > div {
  height: 100%;
}

/* Footer */
#footer {
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
}

/* Layout definition */
#one-col-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--banner-height))
}

#one-col-layout > * {
  flex-shrink: 0;
}

#one-col-layout > .scroll-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  position: relative;
}

.scroll-container::-webkit-scrollbar {
  width: 13px;
  background-color: var(--scrollbar-bg);
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px var(--scrollbar-shadow);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  outline: 1px solid var(--scrollbar-thumb-outline);
  border-radius: 2px;
  box-shadow: 4px 1px 6px -2px var(--light-glare) inset;
}
