@import "./toolbar.css";
@import "./area-key.css";
@import "./search-box.css";
@import "./flame-graph.css";
@import "./message.css";
@import "./options-menu.css";

html {
  /* Define colors */

  --main-bg-color-val: 27, 30, 39;
  --max-contrast: rgb(255, 255, 255);
  --opposite-contrast: rgb(0, 0, 0);
  --light-glare: rgba(255, 255, 255, 0.1);

  --main-bg-color: rgb(var(--main-bg-color-val));
  --main-bg-translucent: rgba(var(--main-bg-color-val), 0.94);
  --overlay-bg-color: rgba(67, 70, 81, 0.94);

  --banner-bg-color: rgba(255, 255, 255, 0.1);
  --banner-logo-color: rgba(255, 255, 255, 0.87);

  --footer-bg-color: rgba(255, 255, 255, 0.1);
  --footer-color: rgba(255, 255, 255, 0.9);

  --cyan: rgb(63, 125, 198);
  --primary-grey: rgb(121, 122, 124);
  --grey-highlight: rgb(191, 192, 194);

  --area-color-app: var(--max-contrast);
  --area-color-deps: var(--cyan);
  --area-color-core: var(--primary-grey);

  /* scrollbars */
  --scrollbar-primary-color-val: 145, 169, 179;
  --scrollbar-primary-color: rgb(var(--scrollbar-primary-color-val));
  --scrollbar-bg: var(--light-glare);
  --scrollbar-shadow: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb: rgba(var(--scrollbar-primary-color-val), 0.2);
  --scrollbar-thumb-outline: rgba(var(--scrollbar-primary-color-val), 0.849);

  /* Define structurally-important sizes to use in calculations and/or adjust in media queries */
  --banner-height: 65px;
  --footer-height: 25px;

  /* Define text sizes */
  --main-text-size: 10pt;
  --small-text-size: 8.5pt;
}

/* Overrides for light theme */
/* just a poc for now... */
html.light {
  --main-bg-color-val: 197, 224, 239;

  --max-contrast: rgb(0, 0, 0);
  --opposite-contrast: rgb(255, 255, 255);

  --banner-bg-color: rgb(0, 0, 0, 0.1);
  --footer-bg-color: rgb(0, 0, 0, 0.1);
  --footer-color: rgba(0, 0, 0, 0.9);
}

/* Main layout */

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background: var(--main-bg-color);
}

/* Global */

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.collapsed .collapsible-content-wrapper {
  display: none;
}

/* Banner layout */

#banner {
  display: flex;
  align-items: center;
  height: var(--banner-height);
  background: var(--banner-bg-color);
  position: relative;
}

#banner #main-logo svg {
  fill: var(--banner-logo-color);
  margin-left: 12px;
  stroke: var(--shortcut-stroke);
  stroke-width: 4px;
  paint-order: stroke fill;
  /* PLACEHOLDER - delete when we have proper logo */
  height: 50px;
  width: 50px;
}

#banner #main-logo svg,
#banner #main-logo span {
  display: inline-block;
  vertical-align: middle;
}

#banner #main-logo,
#banner #main-logo:link,
#banner #main-logo:visited {
  color: var(--banner-logo-color);
  font-weight: bold;
  font-size: 23px;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 3px; /* temporary - just to align placeholder text */
}

#banner #company-logo svg {
  position: absolute;
  height: 65px;
  right: 0;
  top: 0;
}

#header {
  display: flex;
  flex-direction: column;
}

/* Arrows - size and color applied in context */

.vertical-arrow {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* Footer */
#footer {
  height: var(--footer-height);
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
}

/* Layout definition */
#one-col-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--banner-height))
}

#one-col-layout > * {
  flex-shrink: 0;
}

#one-col-layout > .scroll-container {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  position: relative;
}

.scroll-container::-webkit-scrollbar {
  width: 13px;
  background-color: var(--scrollbar-bg);
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px var(--scrollbar-shadow);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  outline: 1px solid var(--scrollbar-thumb-outline);
  border-radius: 2px;
  box-shadow: 4px 1px 6px -2px var(--light-glare) inset;
}

/* SVG icons */
svg.icon-img path {
  /* Default to same fill as adjacent text */
  fill: currentColor;
}

svg.icon-img {
  /* Default to same size as adjacent text */
  width: 1em;
  height: 1em;
}
