#toolbar {
  background-color: var(--banner-bg-color);
  z-index: 5;
  position: relative;
}

#info-box {
  margin: 8px;
}

#toolbar-top-panel {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap;
}

#selection-controls,
#toolbar-side-panel {
  margin: 8px 8px 0px;
}

#toolbar-side-panel {
  flex-grow: 0;
  display: flex;
  position: relative;
  min-width: 25em;
}

#toolbar-side-panel #options-menu{
  flex-grow: 1;
}

#toolbar-side-panel #search-box{
  flex-shrink: 0;
}


@media screen and (min-width: 550px) {
  #selection-controls,
  #toolbar-side-panel {
    margin: 0px;
  }
  #toolbar-top-panel {
    justify-content: space-between;
  }
}

@media screen and (min-width: 720px) {
  #info-box .frame-info {
    font-size: var(--small-text-size);
  }
}

/* presentation mode */
.presentation-mode #toolbar-side-panel {
  background-color: transparent;
  padding: 0px;
}