.tooltip {
  position: fixed;
  z-index: 9;
}

.tooltip .tooltip-default-message{ /* Temporary style, will be replaced */
  padding: 0.2em 0.5em;
  font-size: 12px;
  background-color: rgb(214, 214, 214);
  color: #333;
  width: 33vw;
  max-width: 330px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.85;
}

.tooltip.hidden {
  visibility: hidden;
  display: block;
}

.tooltip .tooltip-inner {
  position: absolute;
  bottom: 0px;
}

.tooltip .tooltip-inner.top {
  bottom: auto;
  top: 0px;
}
