#toolbar {
  background-color: var(--banner-bg-color);
  z-index: 5;
  position: relative;
}

#info-box {
  margin: 8px;
}

#toolbar-top-panel {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  flex-wrap: wrap;
}

#toolbar-side-panel {
  margin: 8px 8px 0px;
  flex-grow: 0;
  display: flex;
  align-items: stretch;
}

#helpBtn {
  display: flex;
  align-items: stretch;
}

@media screen and (min-width: 720px) {
  #info-box .frame-info {
    font-size: var(--small-text-size);
  }
}

/* presentation mode */
.presentation-mode #toolbar-side-panel {
  background-color: transparent;
  padding: 0px;
}
