#toolbar {
  background-color: var(--banner-bg-color);
  z-index: 5;
  position: relative;
}

#info-box {
  margin: 8px;
}

#toolbar-top-panel {
  display: flex;
  justify-content: center;
  margin: 8px;
  flex-wrap: wrap;
}

#selection-controls {
  margin: 8px 8px 0px;
}



@media screen and (min-width: 500px) {
  #selection-controls {
    margin: 0px;
  }
  #toolbar-top-panel {
    justify-content: space-between;
  }
}

@media screen and (min-width: 720px) {
  #info-box .frame-info {
    font-size: var(--small-text-size);
  }
}
